#bg-layers {
  position: fixed;
  z-index: -1000;
}
[class^="bg-layer"] {
  position: absolute;
  top: calc(50vh - (90vw/2));
  height: 90vw;
  display: block;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.bg-layer1 {
  width: 70vw;
  background-color: #00adff1c;
  animation:spin 20s linear infinite;
}
.bg-layer2 {
  width: 100vw;
  background-color: #00ff891c;
  animation:spin 15s linear infinite;
}
.bg-layer3 {
  width: 85vw;
  background-color: #0095ff1c;
  animation:spin 18s linear infinite;
}
.bg-layer4 {
  width: 100vw;
  background-color: #00adff1c;
  animation:spin 20s linear infinite;
}
.bg-layer5 {
  width: 100vw;
  background-color: #00ff891c;
  animation:spin 18s linear infinite;
}

@keyframes spin { 
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

.navbar.bg-light {
  box-shadow: 0px -4px 10px black;
}

#drawer-toggle {
  position: absolute;
  /* margin-left: 15px; */
  font-size: 1.25rem;
  color: #6c757d;
  box-shadow: none;
}

#drawer-toggle:hover, #drawer-toggle:active {
  color: #333;
  box-shadow: none;
}

#drawer-toggle:focus {
  box-shadow: none;
}

#sidebar {
  height: calc(100vh - 45.6px);
  overflow: auto;
  z-index: 1000;
}

@media (min-width: 0px) { 
  #sidebar {
    left: -10000px;
    -webkit-animation: slide 1s ease 0s 1 forwards;
    animation: slide 1s ease 0s 1 forwards;
  }
  #sidebar .sidebar-list-item {
    padding: 10px;
    margin-bottom: 10px;
    background: linear-gradient(45deg, #65f6e261, #d2ff4782);
    background-size: 200% 200%;
    box-shadow: 0 0 10px #dedede;
    border-radius: 6px;
  }
}
@media (min-width: 992px) {
  #sidebar {
    background-color: #f8f9fab8!important;
    left: 0px;
    -webkit-animation: none;
    animation: none;
  }
  #sidebar .sidebar-list-item {
    background: #ffffff85;
    box-shadow: none;
    transition: 0.5s;
  }
}

.sidebar-list-item:hover {
  cursor: pointer;
  color: #808080;
  box-shadow: 0 0 10px #80808047!important;
}

.sidebar-list-item .zmdi-star:hover, .sidebar-list-item .zmdi-star-outline:hover {
  cursor: pointer;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

@media (min-width: 576px) {
  .position-sm-static {
    position: static !important;
  }
  .position-sm-relative {
    position: relative !important;
  }
  .position-sm-absolute {
    position: absolute !important;
  }
  .position-sm-fixed {
    position: fixed !important;
  }
  .position-sm-sticky {
    position: sticky !important;
  }
}

@media (min-width: 768px) {
  .position-md-static {
    position: static !important;
  }
  .position-md-relative {
    position: relative !important;
  }
  .position-md-absolute {
    position: absolute !important;
  }
  .position-md-fixed {
    position: fixed !important;
  }
  .position-md-sticky {
    position: sticky !important;
  }
}

@media (min-width: 992px) {
  .position-lg-static {
    position: static !important;
  }
  .position-lg-relative {
    position: relative !important;
  }
  .position-lg-absolute {
    position: absolute !important;
  }
  .position-lg-fixed {
    position: fixed !important;
  }
  .position-lg-sticky {
    position: sticky !important;
  }
}

@media (min-width: 1200px) {
  .position-xl-static {
    position: static !important;
  }
  .position-xl-relative {
    position: relative !important;
  }
  .position-xl-absolute {
    position: absolute !important;
  }
  .position-xl-fixed {
    position: fixed !important;
  }
  .position-xl-sticky {
    position: sticky !important;
  }
}


@media (min-width: 1200px) {
  .display-7 {
    font-size: 1.25rem;
  }
}

.display-7 {
  font-size: calc(1rem + 0.5vw);
  font-weight: 300;
  line-height: 1.2;
}

.task {
  background-color: #ffffff85;
  border: none;
  box-shadow: 2px 2px 2px 1px #5d5e5f1c;
}

.new-task {
  border: none;
  box-shadow: 0 0 10px #00000047;
  background-color: #00bcc5;
}

.invisible-textbox, .invisible-textbox:focus {
  background: none;
  border: none;
  outline: none;
  color: white;
  width: calc(100% - 5vw);
  z-index: 100;
  padding: 0;
}

.invisible-textbox::placeholder {
  color: white;
}

.task-icon {
  width: 15px;
}

.task-icon:hover {
  cursor: pointer;
}